Source: mutils-containers
Section: libs
Priority: optional
Maintainer: Matthew Milano <milano@cs.cornell.edu>
Build-Depends: cmake, debhelper (>=9), mutils
Standards-Version: 3.9.8
Homepage: https://github.com/mpmilano/mutils-containers

Package: mutils-containers
Architecture: amd64
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}, mutils
Description: C++ utility libraries
 The mutils-containers library provides simple (boost-replacement)
 utilities utilized by the Derecho project
