Source: derecho
Section: libs
Priority: optional
Maintainer: Matthew Milano <milano@cs.cornell.edu>
Build-Depends: cmake, debhelper (>=9), javahelper, librdmacm-dev, libibverbs-dev, spdlog, mutils, mutils-containers, mutils-tasks, libfabrics (>=1.7), g++ (>=7.4)
Standards-Version: 3.9.8
Homepage: https://github.com/Derecho-Project/derecho

Package: derecho
Architecture: amd64
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}, librdmacm-dev, libibverbs-dev, spdlog, mutils, mutils-containers, mutils-tasks, libfabrics (>=1.7)
Description: State-machine replicationg and RPC over RDMA
 Derecho is a library that helps you build replicated, fault-tolerant
 services in a datacenter with RDMA networking.
